h1, h2, h3, h4, h5, h6 {
	font-family: Raleway, "Trebuchet MS", Sans-Serif;
}
body {
	font-family: "Noto Sans", "Open Sans", Open-Sans, Helvetica, Sans-Serif;
	padding: 1em;
	color: #553838;
	line-height: 150%;
	background-image: url('bgimage-orange.gif');
	font-size: 12.5pt;
}
div.main {
	max-width: 1080px;
	border-radius: 10px;
	padding: 20px;
	background: #FFFFFFAA;
	margin-left: auto;
	margin-right: auto;
}
div.main-column {
	max-width: 800px;
}
hr.styled {
	/* Gradient color1 - color2 - color1 */
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
hr.styled.top {
	margin-bottom: 2em;
}
hr.styled.bottom {
	margin-top: 2em;
}
p.passage { margin-left: 2em; margin-right: 2em; }

a, a:link, a:visited { color: brown; }
a:hover  { color: orange; }
a:active { color: white;  }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
	color: #553838;
	text-decoration: none;
}
